@page { size:8.5in 11in; margin:3cm; orphans:4; marks:cross; }

body { background:#fff; font-family:serif; font-size:12pt; }

h1 { font-size:22pt; }
h2 { font-size:20pt; }
h3 { font-size:18pt; }
h4 { font-size:16pt; }
h5 { font-size:14pt; }

/* -- hide all nav stuff -- */
.header,
.menu,
.footer,
#commentform,
.comment-notice, /* TODO use a .commentform container */
#postcomment,
.back-top,
.jump-to,
.post-tags,
.pane,
.post-links,
.nav,
.hide,
.read-more,
#respond,
#respond + .meta,
hr { display: none; }

/* -- set page breaks -- */
h2,
h3,
h4,
.comment-meta { page-break-before:avoid; page-break-after:avoid;}
h3#comments { page-break-before:always; }

