@import url(tables.css);

header, section, article, footer, nav {
    display: block;
    padding: 0;
    margin: 0;
}

time {
    display: inline;
}

body {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
    padding: 0;
    font: normal 1em/155% sans-serif;
    word-spacing: 0.1em;
    color: #222;
    background: #fff;

}

footer {
    margin: 3em 0 0;
    color: #999;
    font-size: .8em;
}

header time {
    color: #999;
    font-size: .8em;
}

h1, h2, h3, h4, h5 {
    font: normal 1.5em/175% sans-serif;
}

h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1em; }
h5 { font-size: .8em; }

pre {
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #f9f9f9;
    color: #333;
    font-size: 1em;
    line-height: 1em;
    overflow: auto;
    white-space: pre-wrap;
    white-space:-moz-pre-wrap; white-space:-hp-pre-wrap; white-space:-o-pre-wrap; white-space:-pre-wrap; word-wrap:break-word;
}

ul.posts {
    list-style-type: none;
}
ul.posts time {
    color: #999;
    font-size: .8em;
}
