---
layout: default
title: Matt Read, Notes
---

    <section>
        <header><h1>Notes</h1></header>
        <ul class="posts">
            {% for post in site.posts %}
            {% assign day_now = 'now' | date: "%j" %}
            {% assign day_post = post.date | date: "%j" %}
            {% if day_post.to_i >= day_now.to_i - 10 %}
                {% assign new_class = ' new' %}
            {% endif %}

            {{ day_post.to_i }} : {{ day_now.to_i - 10 }}
            <li class="{{ post.categories | first }}{{ new_class }}">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date_to_string }}  &raquo;
                </time>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="social">
        <header><h1>Follow Me</h1></header>
        <a href="/atom.xml" title="RSS Feed" class="rss">RSS</a>
        <a href="http://twitter.com/MattRead" title="Twitter" class="twitter">Twitter</a>
        <a href="http://last.fm/user/MattRead" title="Last.fm" class="lastfm">Last.fm</a>
        <a href="http://www.flickr.com/photos/mattread/" title="Flickr" class="flickr">Flickr</a>
        <a href="http://www.viddler.com/explore/MattRead/" title="Viddler" class="viddler">Viddler</a>
        <a href="http://www.facebook.com/MattRRead" title="Facebook" class="facebook">Facebook</a>
        <a href="xmpp:matt@mattread.com" title="Google Talk" class="googletalk">Google Talk</a>
        <a href="skype:mattrread?call" title="Skype Me" class="skype">Skype</a>
        <br style="clear:both" />
    </section>
