<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="PICS-Label" content='(PICS-1.1 "http://www.classify.org/safesurf/" L gen true for "http://mattread.com/" r (SS~~000 5 SS~~001 6 SS~~002 5 SS~~005 4 SS~~008 6 SS~~009 2))'>

    <title>Matt Read, Notes?</title>
    <meta name="author" content="Matt Read">

    <link href="/atom.xml" rel="alternate" title="Matt Read" type="application/atom+xml">
    <link rel="stylesheet" href="/css/screen-min.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">

    <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/site.min.js"></script>
    <!--[if lte IE 8]>
    <script src="/js/ie.js"></script>
    <![endif]-->
</head>
<body>

<nav id="top" class="site">
    <a href="/">Home</a> |
    <a href="/about.html">About</a> |
    <a href="/gpg.html">GPG</a> :
    {{page.url }}
</nav>
  
{{ content }}

<footer>
    <address>
        &mdash; Matt Read &lt;matt@mattread.com&gt;
    </address>
     <p>
        <a href="#top">&uarr; Back to top</a><br>
        Copyright &copy; 2010 Matt Read
    </p>
    <a href="http://github.com/MattRead/mattread.github.com">
        <img style="position: absolute; top: 0; right: 0; border: 0; margin: 0;"
             src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
             alt="Fork me on GitHub" />
    </a>
</footer>

</body>
</html>
